.btn:hover{
	border-width: 1px;
	border-color: blue;
}

.hidden {
	display: none;
}

.animateLeft {
	position: relative;
}

#startButtonContainer {
	position: relative;
	left: 65px;
}

#playAgain {
	position:relative;
}

body {
	background-color: #f0f0f0;
	background-image: url("../images/backgroundimage.jpg");
}