.btn:hover {
	border-width: 1px;
	border-color: blue;
}

.hidden {
	display: none;
}

.guessSelected {
	position: relative;
}

#startButtonContainer {
	position: relative;
	left: 60px;
}

#playAgain {
	position:relative;
	right: 25px;
}
